body {
    font-family: viga;
    color: #fff;
}

.anim {
    display: inline-block;
}

.anim::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid rgb(230, 76, 59);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.anim:hover::after {
    transform: scaleX(0.5);
}


form .fra:hover {
    background-color: #50575e;
    color: #000000;
}

@media screen and (max-width:970px) {	
    .anim::after {
        transform-origin: 0 0;
    }
    .anim:hover::after {
        transform:scaleX(0.2);
    }

}


.hero {
  position: relative;
  background-image: url('https://plus.unsplash.com/premium_photo-1661964071015-d97428970584?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWx8ZW58MHx8MHx8fDA%3D'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
}
.booking-form {
  background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.booking-form .form-group {
  margin-bottom: 15px;
}
.booking-form button {
  background-color: #d4af37;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .hero h1 {
      font-size: 2em;
  }
  .booking-form {
      padding: 10px;
  }
}

@media (max-width: 582px){
  .hero p {
    /* padding-top: 20px; */
    margin-bottom: 10px;
  }
}
 

a {
    text-decoration: none;
}
a:Hover {
color: #d2d1d1;    
}


.service {
  padding: 1rem;
    background: #fff;
}


h3 {
    color: #333;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .btn-outline-dark {
    border-color: #333;
    color: #333;
  }
  
  .btn-outline-dark:hover {
    background-color: #333;
    color: #fff;
  }
  
  .card-title {
    font-size: 1.25rem;
    color: #333;
  }
  
  .card-text {
    color: #777;
  }
  
  .bg-dark {
    background-color: #333 !important;
  }
    
  
  .text-white {
    color: #fff !important;
  }
  
  a.text-white:hover {
    color: #ddd !important;
  }
  
  @media (max-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }
}